@font-face {
    font-family: 'Mistral';
    src: url('Mistral.eot');
    src: local('Mistral'),
        url('Mistral.eot?#iefix') format('embedded-opentype'),
        url('Mistral.woff2') format('woff2'),
        url('Mistral.woff') format('woff'),
        url('Mistral.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

